<%= form_tag password_resets_path, :method => :post do %>
  <div class="field form-group text-center">
    <%= text_field_tag :email,"", placeholder:"Email Address", class: "form-control text-center" %>
    <%= button_tag(type: "submit", class: "btn btn-block") do %>
        Submit
    <% end %>
  </div>
<% end %>
