<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= text_field_tag :email,"", placeholder:"Email Address" %> 
    <%= button_tag(type: "submit", class: "no-style check-login") do %>
        <span class="lnr lnr-arrow-right-circle"></span>
    <% end %>
  </div>
<% end %>
