<%= form_tag password_resets_path, :method => :post do %>
  <div class="field form-group">
    <%= text_field_tag :email,"", placeholder:"Email Address", class: "form-control" %>
    <%= button_tag(type: "submit", class: "btn check-login") do %>
        Submit
    <% end %>
  </div>
<% end %>
