<div class="container password-reset">
  <h3 class="check-title text-center">Forgot your password?</h3>
  <p class="text-center">Enter your email and we'll send you a password reset link.</p>
  <%= render 'forgot_password_form' %>
</div>
