$('#modal').html("<%= j(render :partial => 'person_update', :locals => {:person => @person, :host_id => nil }) %><a class='close-reveal-modal' aria-label='Close'>&#215;</a>" );

$('#modal').foundation('reveal', 'open');