<div class="container user-settings">

  <div class="edit-user-header">
    <small>Account Settings</small>
  </div>

  <hr>
  <%= link_to "Log out", logout_path, class: "btn btn-block" %>
  <hr>

  <%= render 'form' %>



</div>
