<div class="container choose-site">

  <% if @error %>
    <%= @error %>
  <% else %>

    <% @sites.each do |s| %>
      <%= link_to choose_event_path(:site => "#{s['slug']}"), method: :get, class: 'list-item black' do %>
        <div class="site">
          <div class="word-wrapper">
            <%= s['name'] %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% end %>
</div>
