<div class="container">

  <% if @error %>
    <%= @error %>
  <% else %>

    <% @sites.each do |s| %>
      <div class="site">
        <%= link_to "#{s['name'][0..37]}", choose_event_path(:site => "#{s['slug']}"), method: :get, class: 'selection-button black'  %>
      </div>
    <% end %>

  <% end %>
</div>
