<% if @error %>
<%= @error %>
<% else %>
<h3 class="check-title">Choose your site</h3>

  <% @sites.each do |s| %>
  <%= link_to "#{s['name']}", choose_event_path(:site => "#{s['slug']}"), method: :get, class: 'selection-button'  %>
  <% end %>
<% end %>
