<div class="loader-wrap <%= status %>" id="load-<%=id%>">
    <div class="loader" id="loader">
      <div class="loader-animation" style="display: none;" id="load-ani-<%=id%>"></div>
      <div class="checkmark"></div>
    </div>
</div>
