<div class="container">
  <div class="search">
    <input type="text" name="search" value=""><i class="fa fa-search" aria-hidden="true"></i></input>
  </div>
  <% @letters.each do |letter| %>
    <div class="letter-separator">
      <%= letter %>
    </div>
    <% @rsvps.each do |rsvp| %>
      <% if rsvp.person.last_name[0].upcase == letter %>
        <div class="rsvp">
          <%= rsvp.person.last_name.titleize + ", " + rsvp.person.first_name.titleize %>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
