<% @page = "index" %>
<div class="container rsvps">
  <% if !@rsvps.empty? %>
    <div id="rsvp-results">
      <%= render 'search' %>
      <%= render "rsvp_list", letters: @letters, rsvps: @rsvps %>
    </div>
    <div class="show-card" style="display: none;">
      <div class="show-card-content"></div>
    </div>
  <% else %>
  <div class="no-rsvps text-center">
    <p>No RSVPs found.</p>
    <%= link_to("Select another event", landing_path) %>
  </div>
  <% end %>
</div>
