<% @page = "index" %>
<div class="container rsvps">
    <div id="rsvp-results">
      <%= render "rsvp_list", letters: @letters, rsvps: @rsvps %>
    </div>
    <div class="show-card" style="display: none;">

    </div>
</div>
