<div class="main-rsvp">
  <%= render @rsvp %>
</div>

<% if @rsvp.guests_count > 0 %>
  <div id="checked-guests">
    <% @rsvp.guests.each do |guest| %>
      <%= render 'rsvp', rsvp: guest %>
    <% end %>
  </div>

  <% if @add_guests %>
    <%= link_to "Add New Guest", "#", class: "add", data: { host_id: @rsvp.id } %>
  <% end %>

<% end %> 