<div class="main-rsvp">
  <%= render @rsvp %>
</div>

<% if @rsvp.guests_count > 0 %>
  <div id="checked-guests">
    <% @rsvp.guests.each do |guest| %>
      <%= render 'rsvp', rsvp: guest %>
    <% end %>
  </div>

  <% if @add_guests %>
    <%= link_to("#", class: "add", data: { host_id: @rsvp.id }) do %>
    <div class="rsvp-card">
      <%= image_tag "check_placeholder.svg" %>
      <div class="row">
        <div class="small-8 columns">
          Edit Guest Info
        </div>
        <div class="small-4 columns rsvp-actions">
          <span class="lnr lnr-checkmark-circle"></span>
          <span class="lnr lnr-menu-circle"></span>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

<% end %> 