<%= render @rsvp %>

<% if @rsvp.guests_count > 0 %>

  Guests:
  <% @rsvp.guests.each do |guest| %>
    <%= render 'rsvp', rsvp: guest %>
  <% end %>

  <% if @guest %>
    	<div id="new_rsvp">
      	<h3>New Guest:</h3>
      	<%= render "new_rsvp", new_rsvp: @guest, host_id: @rsvp.id %>
      </div>
  <% end %>
  
<% end %> 
