<% if nation.name != nil %>
  <h3 class="check-title">
    Your Nation: <%= nation.name %>
    <% if @credential %>
      <a class="button success tiny" disabled>Authenticated</a>
    <% else %>
      <a class="button success tiny" href= "<%= authorize_path(nation_id: nation.id) %>">Authenticate</a> 
    <% end %>
  </h3>
<% else %>

  <%= link_to "Add information for this nation", edit_nation_path(nation), class: "button tiny" %>

<% end %>