$(function(){

	$('.refresh_events').on('click', function(){
		var sidebarHtml = loadingIn();
		location.reload();
		loadingOut(sidebarHtml);
	});

	$('body').on('click', '.events a', function(e) {
		e.preventDefault();
		e.stopPropagation();
		var url = this.attributes.href.value
		var sidebarHtml = loadingIn();
		$.get(url, function(response){
			window.location.href = "/rsvps"
			delay(2000);
			loadingOut(sidebarHtml);
		})
	});

	$('body').on('click', '.choose_site', function(e) {
		e.preventDefault();
		e.stopPropagation();
		var url = this.parentElement.attributes.href.value
		if (window.innerWidth > 792) {
			$.get(url, function(response){
				$('.sidebar-main').html(response)
			})
		} else {
			$.get(url, function(response){
				$('.landing').html(response)
			})
		}
	})

	$('body').on('click', '.choose_event', function(e) {
		e.preventDefault();
		e.stopPropagation();
		var url = this.parentElement.attributes.href.value
		if (window.innerWidth > 792) {
			$.get(url, function(response){
				$('.sidebar-main').html(response)
			})
		} else {
			$.get(url, function(response){
				$('.landing').html(response)
			})
		}
	})

	$('body').on('click', '.site', function(e){
		e.preventDefault();
		e.stopPropagation();
		var url = this.parentElement.attributes.href.value
		if (window.innerWidth > 792) {
			$.get(url, function(response){
				$('.sidebar-main').html(response)
			})
		} else {
			$.get(url, function(response){
				$('.landing').html(response)
			})
		}
	});

	if (!window.location.href.includes("/rsvps")) {
		$('.check-in').hide();
		$('.add-rsvp').hide();
	}

	setQuote();

});

function loadingIn() {
	var sidebarHtml = $('.sidebar').html()
	$('.sidebar').html("<div class='sidebar-header'></div><div class='sidebar-filler1 sidebar-filler'></div><div class='sidebar-filler2 sidebar-filler'></div>");
	$('.loading').fadeIn();
	return sidebarHtml
}
function loadingOut(sidebarHtml){
	$('.sidebar').html(sidebarHtml);
	$('.loading').fadeOut();
}

function setQuote() {
	var quotes = {1: '<p>"Equal rights for all, special privileges for none."<p><small>THOMAS JEFFERSON</small>',
	 							2: '<p>"Injustice anywhere is a threat to justice everywhere."<p><small>MARTIN LUTHER KING JR.</small>',
								3: '<p>"In a time of universal deceit, telling the truth is a revolutionary act."<p><small>GEORGE ORWELL</small>',
							 	4: '<p>"The earth is the mother of all people, and all people should have equal rights upon it."<p><small>CHIEF JOSEPH</small>',
								5: '<p>"When the whole world is silent, even one voice becomes powerful."<p><small>MALALA YOUSAFZAI</small>',
								6: '<p>"Power is not only what you have but what the enemy thinks you have."</p><small>SAUL ALINSKY</small>',
								7: '<p>"Ultimately, America\'s answer to the intolerant man is diversity."</p><small>ROBERT KENNEDY</small>',
								8: '<p>"It is time for parents to teach young people early on that in diversity there is beauty and there is strength."</p><small>MAYA ANGELOUS</small>',
								9: '<p>"I\'m for truth, no matter who tells it. I\'m for justice, no matter who it\'s for or against."</p><small>MALCOLM X</small>',
								10: '<p>"Kindness is the language which the deaf can hear and the blind can see."</p><small>MARK TWAIN</small>',
								11: '<p>"Countries with higher levels of gender equality have higher economic growth."</p><small>BAN KI-MOON</small>'}

	var quote = quotes[Math.floor((Math.random() * 8) + 1)]
	$('.loading-quote')["0"].innerHTML = quote
}
