/*
* This is a manifest file that'll be compiled into application.css, which will include
* all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_directory .
*= require_self
*= require font-awesome
*= require rails_bootstrap_forms
*= require dataTables/extras/dataTables.responsive
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$blue1: rgba(10, 196, 248, 1);
$blue2: rgba(101, 204, 238, 1);
$blue: rgba(0, 122, 255, 1);
$navy: rgba(56, 74, 127, 1);
$paleblue: rgba(10, 196, 248, 0.1);
$grey1: rgba(252, 252, 252, 1);
$grey2: rgba(248, 248, 248, 1);
$grey3: rgba(245, 245, 245, 1);
$grey4: rgba(237, 237, 237, 1);
$grey5: rgba(248, 248, 248, 0.86);
$grey6: rgba(216, 216, 216, 1);
$grey7: rgba(230, 231, 232, 0.62);
$grey8: rgba(196, 196, 196, 1);
$grey9: rgba(176, 176, 176, 1);
$darkgrey: rgba(124, 124, 124, 1);

@font-face {
        font-family: 'Alright Sans Light';
        src: asset-url('AlrightSans-Light.otf');
        font-weight: normal;
        font-style: normal;
        }
@font-face {
        font-family: 'Alright Sans Regular';
        src: asset-url('AlrightSans-Regular.otf');
        font-weight: normal;
        font-style: normal;
        }

* {
  font-family: 'Alright Sans Light', sans-serif;
}

html {
  height: 100% !important;
  background: white;
}

body {
  background: none;
}

.navy {
  background-color: $navy !important;
}

a {
  color: rgba(124, 124, 124, 1);
  text-decoration: none;
}
a.black {
  color: black;
}

.container {
  font-size: 14px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 52px;
}

header {
  background-image: linear-gradient(13deg, #65CCEE 0%, #9DAAD7 100%);
  position: relative;

  img {
    width: 27px;
    height: 27px;
    margin: 9px;
    margin-left: 15px;
  }

  .current-event {
    position: absolute;
    top: 9px;
    width: 100%;
    color: white;
    text-align: center;

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 14px;
    }
    small {
      font-size: 10px;
      line-height: 10px;
    }
  }
  .refresh, .refresh_events {
    position: absolute;
    right: 22px;
    top: 7px;
    color: white;
    height: 33px;
    width: 33px;

    img {
      height: 18px;
      width: 18px;
      margin: 0 8px;
    }
    small {
      display: block;
      font-size: 7px;
      text-align: center;
      margin-top: 5px;
    }

  }
}

footer {
  min-height: 52px;
  max-height: 52px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 7px;
  text-transform: uppercase;
  color: $grey9;
  border-top: 1px solid #EDEDED;

  .icons {
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 10px;
    text-align: center;

    img {
      width: 18px;
      height: 18px;
    }
    p {
      margin-top: 8px;
    }
  }

  .add-rsvp {
    margin-left: 30px;
    margin-right: 30px;
  }

  .icons > div {
    display: inline-block;
  }

}
