/*
* This is a manifest file that'll be compiled into application.css, which will include
* all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_directory .
*= require_self
*= require font-awesome
*= require rails_bootstrap_forms
*= require dataTables/extras/dataTables.responsive
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "colors";

@font-face {
        font-family: 'Alright Sans Light';
        src: asset-url('AlrightSans-Light.otf');
        font-weight: normal;
        font-style: normal;
        }
@font-face {
        font-family: 'Alright Sans Regular';
        src: asset-url('AlrightSans-Regular.otf');
        font-weight: normal;
        font-style: normal;
        }

* {
  font-family: 'Alright Sans Regular', sans-serif;
  font-weight: normal;
}

html {
  height: 100% !important;
  background: white;
}

body {
  background: none;
  -webkit-font-smoothing: antialiased;
}

.navy {
  background-color: $navy !important;
}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

.btn:hover, .btn:focus, .btn.focus {
  color: white;
}

a.black {
  color: black;
}

label {
  text-transform: capitalize;
  margin-bottom: 9px;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

input, input:focus, input:hover {
  border: none;
}

.sidebar {
  display: none;
}

.form-group {
  margin-bottom: 18px;
}

.btn {
  font-size: 18px;
  font-weight: normal;
  border-radius: 0 !important;
}

.form-control:focus {
  box-shadow: none;
  background-color: white;
  color: $navy;
}

.main {
  margin-top: 45px;
}

.no-events, .no-rsvps {
  margin: 27px;
}

.login-container {
  height: 480px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container.password-reset {
  max-width: 300px;
  padding: 27px !important;
  padding-left: 27px !important;
  padding-right: 27px !important;
  input {
    margin-bottom: 18px;
  }
  button {
    width: 100%;
  }
}

.loading {
  color: white;
  text-align: center;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-image: linear-gradient(13deg, $blue2 0%, #9DAAD7 100%);
  animation: colorchange 2s ease-in-out infinite alternate;
  -webkit-animation: colorchange 2s ease-in-out infinite alternate;
  .logo {
    margin: 40% auto 45px auto;
    img {
      width: 72px;
      height: 72px;
    }
  }
  .loading-quote {
    font-size: 13.5px;
    margin: 0 44px;
    .name {
      font-size: 10px;
    }
  }
}

@keyframes colorchange
  {
    0%    {background-image: linear-gradient(13deg, $blue2 0%, #9DAAD7 100%);}
    5%    {background-image: linear-gradient(13deg, $blue2 5%, #9DAAD7 100%);}
    10%   {background-image: linear-gradient(13deg, $blue2 10%, #9DAAD7 100%);}
    15%   {background-image: linear-gradient(13deg, $blue2 15%, #9DAAD7 100%);}
    20%   {background-image: linear-gradient(13deg, $blue2 20%, #9DAAD7 100%);}
    25%   {background-image: linear-gradient(13deg, $blue2 25%, #9DAAD7 100%);}
    30%   {background-image: linear-gradient(13deg, $blue2 30%, #9DAAD7 100%);}
    35%   {background-image: linear-gradient(13deg, $blue2 35%, #9DAAD7 100%);}
    40%   {background-image: linear-gradient(13deg, $blue2 40%, #9DAAD7 100%);}
    45%   {background-image: linear-gradient(13deg, $blue2 45%, #9DAAD7 100%);}
    50%   {background-image: linear-gradient(13deg, $blue2 50%, #9DAAD7 100%);}
    55%   {background-image: linear-gradient(13deg, $blue2 55%, #9DAAD7 100%);}
    60%   {background-image: linear-gradient(13deg, $blue2 60%, #9DAAD7 100%);}
    65%   {background-image: linear-gradient(13deg, $blue2 65%, #9DAAD7 100%);}
    70%   {background-image: linear-gradient(13deg, $blue2 70%, #9DAAD7 100%);}
    75%   {background-image: linear-gradient(13deg, $blue2 75%, #9DAAD7 100%);}
    80%   {background-image: linear-gradient(13deg, $blue2 80%, #9DAAD7 100%);}
    85%   {background-image: linear-gradient(13deg, $blue2 85%, #9DAAD7 100%);}
    90%   {background-image: linear-gradient(13deg, $blue2 90%, #9DAAD7 100%);}
    95%   {background-image: linear-gradient(13deg, $blue2 93%, #9DAAD7 100%);}
    100%  {background-image: linear-gradient(13deg, $blue2 95%, #9DAAD7 100%);}
  }

@-webkit-keyframes colorchange
  {
    0%    {background-image: linear-gradient(13deg, $blue2 0%, #9DAAD7 100%);}
    5%    {background-image: linear-gradient(13deg, $blue2 5%, #9DAAD7 100%);}
    10%   {background-image: linear-gradient(13deg, $blue2 10%, #9DAAD7 100%);}
    15%   {background-image: linear-gradient(13deg, $blue2 15%, #9DAAD7 100%);}
    20%   {background-image: linear-gradient(13deg, $blue2 20%, #9DAAD7 100%);}
    25%   {background-image: linear-gradient(13deg, $blue2 25%, #9DAAD7 100%);}
    30%   {background-image: linear-gradient(13deg, $blue2 30%, #9DAAD7 100%);}
    35%   {background-image: linear-gradient(13deg, $blue2 35%, #9DAAD7 100%);}
    40%   {background-image: linear-gradient(13deg, $blue2 40%, #9DAAD7 100%);}
    45%   {background-image: linear-gradient(13deg, $blue2 45%, #9DAAD7 100%);}
    50%   {background-image: linear-gradient(13deg, $blue2 50%, #9DAAD7 100%);}
    55%   {background-image: linear-gradient(13deg, $blue2 55%, #9DAAD7 100%);}
    60%   {background-image: linear-gradient(13deg, $blue2 60%, #9DAAD7 100%);}
    65%   {background-image: linear-gradient(13deg, $blue2 65%, #9DAAD7 100%);}
    70%   {background-image: linear-gradient(13deg, $blue2 70%, #9DAAD7 100%);}
    75%   {background-image: linear-gradient(13deg, $blue2 75%, #9DAAD7 100%);}
    80%   {background-image: linear-gradient(13deg, $blue2 80%, #9DAAD7 100%);}
    85%   {background-image: linear-gradient(13deg, $blue2 85%, #9DAAD7 100%);}
    90%   {background-image: linear-gradient(13deg, $blue2 90%, #9DAAD7 100%);}
    95%   {background-image: linear-gradient(13deg, $blue2 93%, #9DAAD7 100%);}
    100%  {background-image: linear-gradient(13deg, $blue2 95%, #9DAAD7 100%);}
  }

.container {
  font-size: 14px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 54px;
}

.event-group {
    padding-left: 15px;
    padding-right: 15px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  img {
    width: 27px;
    height: 27px;
    margin: 9px;
    margin-left: 18px;
  }

  .current-event {
    position: absolute;
    top: 9px;
    width: 100%;
    color: white;
    text-align: center;

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 14px;
    }
    small {
      font-size: 10px;
      line-height: 10px;
    }
  }
  .refresh, .refresh_events {
    position: absolute;
    right: 18px;
    top: 7px;
    color: white;
    height: 27px;
    width: 27px;

    img {
      height: 18px;
      width: 18px;
      margin: 0 5px;
    }
    small {
      display: block;
      font-size: 7px;
      text-align: center;
      margin-top: 5px;
    }

  }
}

h6 {
  font-size: 9px;
  font-weight: normal;
  margin-top: 4.5px;
  color: $darkgrey
}

.list-item:last-child {
  margin-bottom: 54px;
  .site, .event, .rsvp {
    margin-bottom: 54px;
  }
}

.container.rsvps {
    margin-top: 90px;
}

.word-wrapper {
  overflow-x: hidden;
  white-space: nowrap;
  width: 95%;
  display: inline-block;
}

footer {
  height: 54px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  color: $grey9;
  border-top: 1px solid $grey4;
  z-index: 1000;

  .icons {
    margin: 5px auto;
    text-align: center;

    img {
      width: 27px;
      height: 27px;
    }
  }

  .add-rsvp-btn {
    margin-left: 30px;
    margin-right: 30px;
  }

  .icons > div {
    display: inline-block;
  }

}

@media (min-width: 792px) {
  html {
    background: $grey3;
  }

  header {
    display: none;
  }

  .container {
    width: 100%;
    margin-bottom: 0;
  }

  .main, .loading {
    margin-left: 27%;
    margin-top: 54px;
  }

  .landing {
    display: none;
  }

  .sidebar {
    display: block;
    width: 27%;
    height: 100%;
    background: $grey1;
    margin: 0;
    padding: 0 !important;
    position: fixed;
    top: 0;

    .sidebar-header {
      background: $grey3;
      height: 54px;
      width: 100%;
    }

    .logged-in {
      background-image: linear-gradient(13deg, #65CCEE 0%, #9DAAD7 100%);
    }

    .desktop-logo {
      height: 27px;
      max-width: 100%;
      margin-left: 18px;
      margin-top: 13.5px;
    }

    .sidebar-filler {
      background: $grey3;
      height: 15px;
      width: 80%;
      margin: 27px auto;
    }
  }

  .show-card-close {
    display: none;
  }

  .login-container {
    height: auto;
    width: auto;
    position: static;
    input, label {
      width: 270px;
      text-align: center;
    }
  }

  .choose-site, .events {
    background: white;
  }



  footer {
    position: fixed;
    top: 0;
    left: 27%;
    border-bottom: $grey4 solid 1px;

    .icons {
      text-align: left;
      margin: 12px 0 0 18px;

      img {
        height: 27px;
        width: 27px;
      }

      h6 {
        display: inline-block;
        margin: 0;
        line-height: 27px;
        vertical-align: bottom;
      }
    }
  }

  .loading {
    width: 73%;
    .logo {
      margin-top: 20%;
    }
  }


  .refresh, .refresh_events {
    float: right;
    margin: 9px;
    color: white;
    a {
      display: block;
      text-align: center;
    }
  }

}
