/*
* This is a manifest file that'll be compiled into application.css, which will include
* all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_directory .
*= require_self
*= require foundation_and_overrides
*= require font-awesome
*= require dataTables/extras/dataTables.responsive
*/

$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

@import "colours";
@import "additionalstyles";

.app {
  background-color: $purple;
  min-height: 100vh;
}

body.maintenance {
  background-color: $purple;
  min-height: 100vh;
  text-align: center;
}

label {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 50px;
  padding: 0px 15px;
  color: white;
}

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], input[type="color"], textarea {
  border-bottom: 3px solid white;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 50px;
  padding: 0px 15px;
  color: white;

  &::-webkit-input-placeholder {
     color: #fff;
     -webkit-transition: color 0.15s linear;
     -moz-transition: color 0.15s linear;
  }

  &:-moz-placeholder {
     color: #fff;
     -moz-transition: color 0.15s linear;
     transition: color 0.15s linear;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;
     -moz-transition: color 0.15s linear;
     transition: color 0.15s linear;
  }

  &:-ms-input-placeholder {
     color: #fff;
     -webkit-transition: color 0.15s linear;
     -ms-transition: color 0.15s linear;
     transition: color 0.15s linear;
  }

  &:focus {
    &::-webkit-input-placeholder {
       color: $salmon;
    }

    &:-moz-placeholder {
       color: $salmon;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $salmon;
    }

    &:-ms-input-placeholder {
       color: $salmon;
    }
  }
}

input[type="text"][disabled], input[type="text"][readonly],
fieldset[disabled] input[type="text"], input[type="password"][disabled],
input[type="password"][readonly], fieldset[disabled] input[type="password"],
input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled]
input[type="date"], input[type="datetime"][disabled],
input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"],
input[type="datetime-local"][disabled], input[type="datetime-local"][readonly],
fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled],
input[type="month"][readonly], fieldset[disabled] input[type="month"],
input[type="week"][disabled], input[type="week"][readonly],
fieldset[disabled] input[type="week"], input[type="email"][disabled],
input[type="email"][readonly], fieldset[disabled] input[type="email"],
input[type="number"][disabled], input[type="number"][readonly],
fieldset[disabled] input[type="number"], input[type="search"][disabled],
input[type="search"][readonly], fieldset[disabled] input[type="search"],
input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled]
input[type="tel"], input[type="time"][disabled], input[type="time"][readonly],
fieldset[disabled] input[type="time"], input[type="url"][disabled],
input[type="url"][readonly], fieldset[disabled] input[type="url"],
input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled]
input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  background: transparent;
  color: $navy;
}

h3 {
  font-size: 16px;
  text-align: center;
  display: block;
}

.selection-button {
  border-bottom: 3px solid white;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 35px;
  display: block;
  color: #fff !important;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;

  &:hover, &:focus {
    color: $salmon;
    border-color: $salmon;
  }
}

.navbar,
.stripped {
  text-align: center;
}

.stripped {
  padding-top: 20px
}

nav {
  background-color: $teal;
  margin: 0 -0.9375rem;

  ul {
    list-style: none;
    padding: 15px 0px;

    li {
      display: inline-block;
      min-height: 50px;
      margin: 5px;
      width: 15%;
      text-align: center;
      vertical-align: top;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 0;
      svg {
        display: block;
        margin: 0 auto;
        height: 44px;
        #Top-Nav-Copy {
          fill: white;
          transition: fill 0.2s ease-in;
        }
      }
      .button-disabled {
        opacity: 0.5;
      }
      a {
        white-space: nowrap;
        transition: all 0.2s ease-in;
        svg {
          opacity: 1;
        }
        &:hover {
          color: $salmon;
          svg #Top-Nav-Copy {
            fill: $salmon;
          }
        }
      }
      img {
        display: block;
        margin: 0 auto;
        height: 40px;
      }

      &:first-of-type {
        img {
          width: 45px;
          height: 45px;
          margin: 0;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#header {
  h3 {
    float:left;
  }

  #pagination {
    float:right;
  }
}

#thinking {
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $navy;
  text-align: center;
  padding-top: 15%;
  font-size: 100px;
  color: $primary-color;

  .cssload-jumping {
    position:relative;
    display:block;
    margin: -80px auto 0 auto;
    width:107px;
  }

  .cssload-jumping, .cssload-jumping * {
    box-sizing: border-box;
  }

  .cssload-jumping span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: rgba(255,255,255,0.06);
    border-radius: 487px;
    border-color: 1px solid white;
    background-clip: padding-box;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
  }

  .cssload-jumping span:nth-child(1) {
    animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .cssload-jumping span:nth-child(2) {
    animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .cssload-jumping span:nth-child(3) {
    animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .cssload-jumping span:nth-child(4) {
    animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .cssload-jumping span:nth-child(5) {
    animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }



  @keyframes scale {
    0% {
      transform: scale(0);
    }

    25% {
      transform: scale(0.9, 0.9);
      background: transparent;
    }

    50% {
      transform: scale(1, 1);
      margin: 0 3px;
      background: rgb(255,255,255);
    }

    100% {
      transform: scale(0);
    }
  }

  @-o-keyframes scale {
    0% {
      -o-transform: scale(0);
    }

    25% {
      -o-transform: scale(0.9, 0.9);
      background: transparent;

    }

    50% {
      -o-transform: scale(1, 1);
      margin: 0 3px;
      background: rgb(255,255,255);
    }

    100% {
      -o-transform: scale(0);
    }
  }

  @-ms-keyframes scale {
    0% {
      -ms-transform: scale(0);
    }

    25% {
      -ms-transform: scale(0.9, 0.9);
      background: transparent;

    }

    50% {
      -ms-transform: scale(1, 1);
      margin: 0 3px;
      background: rgb(255,255,255);
    }

    100% {
      -ms-transform: scale(0);
    }
  }

  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(0);
    }

    25% {
      -webkit-transform: scale(0.9, 0.9);
      background: transparent;
    }

    50% {
      -webkit-transform: scale(1, 1);
      margin: 0 3px;
      background: rgb(255,255,255);
    }

    100% {
      -webkit-transform: scale(0);
    }
  }

  @-moz-keyframes scale {
    0% {
      -moz-transform: scale(0);
    }

    25% {
      -moz-transform: scale(0.9, 0.9);
      background: transparent;
    }

    50% {
      -moz-transform: scale(1, 1);
      margin: 0 3px;
      background: rgb(255,255,255);
    }

    100% {
      -moz-transform: scale(0);
    }
  }
}


button.no-style {
  border: none;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding: 0;
  font-size: 1rem;
  color: $primary-color;
  background-color: transparent;
}

button.check-login,
.check-login {
  font-size: 50px;
  color: $teal;
  text-align: center;
  width: 100%;
  margin: 70px auto;
  display: block;

  &:hover {
      color: #fff;
      border: none;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -ms-transition: all 0.15s linear;
      transition: all 0.15s linear;
      text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.button.forguestcheckin {
  display: none;
}

.dataTable {
  width: 100%;
}

table {
  color: white;
  width: 100%;
  word-break: break-word;
}

#errors {
  text-align:left;
}

body.modal-open {
   overflow: hidden;
   position: fixed;
}

.reveal-modal {
  overflow-y: auto;
  height: 100%;
  position: fixed;
  top: 0 !important;

  form {
    background-color: $purple;
    padding-top: 150px;
    text-align: center;

    &:before {
      content: "";
      background-color: $navy;
      background-image: url("checkapp_logo.svg");
      background-repeat: no-repeat;
      background-size: 45px;
      background-position: 8.2% 20px;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 90px;

    }
  }

  a.close-reveal-modal {
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    right: 20px;
    top: 20px;
    color: white;

    span {
      font-size: 25px;
      display: block;
      margin-bottom: 5px;
    }
  }

  &:focus {
    outline: 0;
  }
}

.alert-box.info {
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  border: none;
  box-shadow: 2px 2px #2A7867;
  background-color: #50E3C2;
  color: black;
  font-size: 13px;

}

.alert-box .close {
  background-color: transparent;
  color: white;
  top: 50%;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.errors {
  background-color: #ffcccc;
  border: 3px solid $salmon;
  border-radius: 5px;
  padding: 10px;
  color: black;
  margin-bottom: 40px;
}

.teal-box {

  .row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;

    .medium-8.small-centered.columns {
      background-color: $teal;
      padding: 10px 0;
    }
  }

  color: white;
  text-align: center;
  width: 100%;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;

  p {
     margin: 0;
  }

  a {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    transition: all 0.15s linear;
    &:hover {
      color: $navy;
    }
  }
}
