// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours";

.event-group {
  margin-top: 0px;
  padding: 0;
  
  .event-block {
    position: relative;
    padding: 20px 0;
    border-bottom: 2px solid white;

    &:last-of-type {
      margin-bottom: 40px;
    }
    
    .event-info {
      color: $heather;
      font-size: 16px;
      position: absolute;
      width: 40px;
      left: 0;
      top: 30%;
      text-align: center;
      line-height: 15px;
    }

    a {
      padding-left: 50px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      transition: all 0.1s linear;
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        color: $salmon;
      }
    }

    &:first-of-type {
      border-top: 2px solid #fff;
    }

    &:hover {
      background: rgba(0,0,0,0.07);
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      transition: all 0.1s linear;
      display: block;
    }
  }
}