// Place all the styles related to the rsvps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  padding: 12px 50px !important;
  position: relative;
  border-bottom: none !important;

  input {
    background: rgba(10, 196, 248, 0.1);
    border: none;
    border-radius: 5px;
    width: 220px;
  }

  i {
    position: absolute;
    right: 5px;
    bottom: 17px;
    color: #0AC4F8;
  }

}

.rsvp {
  width: 90%;
  height: 63px;
  margin: auto;
  position: relative;

  small {
    display: block;
    font-size: 10px;
    color: #B0B0B0;
    position: absolute;
    bottom: 9px;
  }

  .guest-dots {
    display: block;
    position: absolute;
    top: 5px;
    padding: 0 !important;
    border: none !important;
  }

  .guest-oval {
    display: inline;
  }

  .check {
    float: right;
    margin-right: 23px;
    width: 18px;
    height: 18px;
  }
}

.letter-separator {
  background: #FCFCFC;
  font-size: 10px;
  color: #7C7C7C;
  height: 18px;
  padding: 4px 15px !important;
  border: none !important;
}

.rsvp-show {
  h3 {
    margin: 0;
  }

  div {
    border: none !important;
  }

  .rsvp-person, .email, .tickets {
    padding: 0 15px !important;
    margin-top: 27px;
  }

  .rsvp-person {
    h3 {
      font-size: 24px;
    }
  }

  .email {
    h3 {
      font-size: 18px;
    }
  }

  .check {
    float: right;
  }

  small {
    margin-bottom: 9px;
    font-size: 10px;
    color: #B0B0B0;
  }

}

.add-rsvp {
  position: relative;

  .add-rsvp-header {
    margin: 15px 15px 0 15px;
    padding: 0;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    img {
      margin-right: 9px;
      margin-top: 9px;
    }
  }

  .add-rsvp-form {
    padding: 0 15px !important;
    border: none;

    .form-group {
      padding: 0;
      border-bottom: none;
      margin: 18px 0;

      label, input {
        display: block;
      }
    }

    input {
      width: 290px;
      height: 45px;
      background-color: rgba(10, 196, 248, 0.1);
      border: none;
      border-radius: 5px;
    }

    label {
      font-size: 10px;
      color: #B0B0B0;
      margin-bottom: 9px;
    }

    .btn {
      background-color: #65CCEE;
      color: white;
      font-size: 18px;
    }

  }
  .close-btn {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 18px;
    height: 18px;
  }
}
