// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
  padding-top: 143px;
  text-align: center;
  color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .login-logo {
    margin: auto;
    margin-bottom: 27px;

    img {
      width: 72px;
      height: 72px;
    }
  }

  input {
    width: 200px;
    height: 45px;
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    color: white;
    box-shadow: none;
  }
  label {
    font-family: 'Alright Sans Light';
    text-align: left;
    font-size: 10px;
    line-height: 12px;
    width: 200px;
  }
  .login-btn {
    height: 54px;
    margin-bottom: 9px;
  }
  small a {
      color: white;
      font-size: 13.5px;
      text-decoration: underline;
      font-family: 'Alright Sans Light';
    }
}
