@import 'colors';

.user-settings {
  padding-left: 15px !important;
  padding-right: 15px !important;

  .form-group {
    padding: 0;
    border-bottom: none;
    margin: 18px 0;

    label, input {
      display: block;
    }
  }

  .form-control {
    box-shadow: none;
  }

  input {
    width: 95%;
    margin: auto;
    height: 45px;
    background-color: $paleblue;
    border: none;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: "Alright Sans Regular"
  }

  label {
    font-size: 10px;
    color: $grey9;
    margin-bottom: 9px;
  }

  .btn {
    background-color: $blue2;
    color: white;
    font-size: 18px;
  }

  .edit-user-header {
    padding: 0;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
  }

}
.logout {
  width: 100%;
  text-align: center;
}
