<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= text_field_tag :email, "", placeholder: "Email Address" %>
  </div>
  <div class="field">
    <%= password_field_tag :password, "", placeholder: "Password"  %>
  </div>
  <div class="actions">
	   <%= button_tag(type: "submit", class: "no-style check-login user-sessions-new") do %>
	       <span class="lnr lnr-arrow-right-circle"></span>
	   <% end %>
   </div>
<% end %>