<h3 class="check-title">Sign in to your nation account</h3>

<%= render 'form' %>

<div class="password-reset-box">
  <div class="row">
    <div class="medium-8 small-centered columns">
      <%= link_to(reset_path) do %>
        <p>Forgot your password?</p>
        <p>Get a reminder <span class="lnr lnr-arrow-right"></span></p>
      <% end %>
    </div>
  </div>
</div>