<div class="container loading">

  <div class="logo">
    <%= image_tag("logo") %>
  </div>
  <div class="loading-quote">
    <p>“Politics hates a vacuum. If it isn't filled with hope, someone will fill it with fear.”</p>
    <small class="name">Naomi Klein</small>
  </div>

</div>
