<style>

.loader-wrap{
  width: 27px;
  height: 27px;
  background-image: linear-gradient(-225deg, #3A7BD5 0%, #1CA8EB 51%, #00D2FF 100%);
  border-radius: 100%;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}

.loader{
  width: 85.185%;
  height: 85.185%;
  background: white;
  border-radius: 50%;
  position: relative;
  top: 7.407%;
  left: 7.407%;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: #fff;
  width: 126.11%;
  height: 126.11%;
  left: -14%;
  top: -14%;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 2px solid transparent;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.checkmark{
  display: block;
  position: relative;
  width: 37.037%;
  height: 51.85%;
  background-image: linear-gradient(-225deg, #3A7BD5 0%, #1CA8EB 51%, #00D2FF 100%);
  z-index: 99999;
  transform: rotate(45deg);
  left: 30%;
  top: 20%;
}
.checkmark:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 99999;
    width: 70%;
    height: 80%;
    background: white;
  }
}
</style>

<div class="loader-wrap">
  <div class="loader" id="loader-1">
    <div class="checkmark"></div>
  </div>
</div>
